body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffff;
}



.logo img {
    width: 50px;
}


.navbar-custom {
    background-color: #FFFF; 
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #707070;
    font-weight: bold;
}

.auth-buttons button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #6ecf78;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

main {
    padding: 20px;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.hero h1 {
    color: #6ecf78;
    font-size: 2.5em;
}

.hero p {
    font-size: 1.2em;
    margin: 20px 0;
}

.hero button {
    padding: 10px 20px;
    background-color: #6ecf78;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

.hero img {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

.recipes, .services, .mobile-app, .testimonials {
    text-align: center;
    padding: 50px 20px;
}

.recipes h2, .services h2, .mobile-app h2, .testimonials h2 {
    color: #6ecf78;
    font-size: 2em;
}

.recipe-cards, .service-cards, .testimonial-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.recipe-card, .service-card, .testimonial-card {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    max-width: 300px;
    text-align: left;
}

.recipe-card img, .service-card img, .testimonial-card img {
    width: 100%;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #6ecf78;
    color: white;
}

.footer-logo img {
    width: 50px;
}

.footer-help, .footer-contact, .footer-app-links {
    text-align: left;
}

.footer-app-links img {
    width: 100px;
    margin-right: 10px;
}
