body {
        font-family: Arial, Helvetica, sans-serif;
        padding: 0;
        color: #707070;
        background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #ffff;
    font-size: 19px;
}



.logo img {
  width: 950px;
}


.navbar-custom {
    background-color: #FFFF; 
    margin-top: -50px;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #707070;
    font-weight: medium;

}

nav ul li a:hover {
    background-color: #DCEDC8; 
    color:#689F38; 
    border-radius: 30px;
}



.auth-buttons {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    font-size: 17px;

}

.auth-buttons .btn {
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 70px;
    transition: 0.3s ease, color 0.3s ease;
    font-size: 17px;
    font-weight: 500 ;
}

.auth-buttons .btn-login {
    background-color: white;
    color: #689F38;
}

.auth-buttons .btn-login:hover {

    color: #689F38;
}


.auth-buttons .btn-register {
    background-color: #689F38;
    color: white;
    border: none;
}

.auth-buttons .btn-register:hover {
    background-color: #62891F;
    text-decoration: none;
    color: #DCEDC8;
}



.footer {
    background-color: #689F38;
    color: white;
    font-size: 17px;
    
}

.footer h5 {
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: left;
}

.footer ul {
    padding: 0;
    list-style: none;
    text-align: left;
}

.footer ul li {
    margin-bottom: 0.5rem;
}

.footer ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    text-align: left;
}

.footer ul li a:hover {
    color: #DCEDC8;
}

.footer .img-fluid {
    max-width: 150px;
    margin-top: 10px;
}


.home-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;

}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin-top: -120px;

}








.hero-text p {
    color: #707070;
    margin: 10px 0;
    font-size: 20px;
}

.hero-button {
    display: inline-block;
    padding: 5px 25px;
    background-color: #689F38;
    color: #fff;
    text-decoration: none;
    border-radius: 60px;
    margin-top: 20px;
    font-weight: bold;
    margin-right: 20px;
}

.hero-button:hover {
background-color: #62891F;
text-decoration: none;
color: #DCEDC8;

}


.hero-image img {
    max-width: 850px;
    margin-right: -200px;

}

.recipes, .services, .app-promotion, .testimonials {
    text-align: center;
    padding: 50px 0;
}

.recipes h2, .services h2, .testimonials h2 {
    font-size: 26px;
    margin-bottom: 50px;
    color: #689F38;
    background-color: #DCEDC8;
    font-weight: 600;
    border-radius: 50px;
    margin-left: 480px ;
    margin-right: 470px ;
    padding: 7px 12px;

}

.textec{
    color: #707070;
    font-size: 22px;
    margin-bottom: 150px;
    padding: 10px 200px;
    margin-left: -30px;
}

.recipe-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    justify-content: center;
    gap: 5px;
}

.recipe-card {
    padding: 5px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    border: 2px solid #689F38;
    padding: 10px 20px;
    border-radius: 30px;
    color: #689F38;
    margin-left: 30px;
    margin: 40px 20px;
}

.recipe-card img {
    max-width: 200px;
    border-radius: 100px;
    text-align: center;
    margin-top: -120px;
    margin-left: 30px;
    margin-bottom: 10px;

}

.recipe-card .etoiles{
width: 100px; 
height: auto; 
margin-top: 10px;
margin-bottom: 30px;
text-align: center;
margin-left: 75px;

}


.recipe-card h3 {
    font-size: 20px;
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
    color: #8BC34A;
    margin-bottom: 5px
}


.prep{
    font-size: 10px;
    font-weight: 100;
    text-align: center;
    margin-top: 30px;
}


.ingredients{
font-size: 14px;
font-weight: 200 ;
text-align: left;
font-style: italic;
margin-top: -17px;
margin-left: 0px;

}

.phrasrecettes{
    color: #707070;
    text-align: right;
    margin-bottom: 100px;
    font-weight: 200;
    margin-top: 50px;
}

.seereceipe{

    color: #689F38;
    text-decoration: underline;
    font-weight: 600;
}


.services-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #707070;
}

.service-item {
    max-width: 45%;
}

.service-item img {
  width: 120px;
}



.services{
    color:#689F38;
    margin-top: -30px;

}

.container {
    max-width: 120px;
    margin: 0 auto;
    padding: 40px;
}



.app-promotion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
}

.app-promotion img {
    width: 450px;
    height: auto;
    margin-bottom: 10px;
    margin-right: 50px;
}

.app-promotion .app-text {
    max-width: 600px;
    text-align: left;
}




.app-promotion p {
    margin: 30px 0;
    display: right;
    color: #707070;
    font-size: 20px ;

}

.app-promotion p strong {
    color:#8BC34A;
    font-weight: bold;
    text-align: right;
    display:block;

}

.testimonials {
    margin: 40px 20px;
}



.testimonials-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.testimonial {
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F2F2F2;
    border: 2px solid #689F38;
    padding: 10px 20px;
    border-radius: 30px;
}

.testimonial .userpic {
    width: 150px; /* Ajustez la largeur selon vos besoins */
    height: 150px; /* Ajustez la hauteur selon vos besoins */
    border-radius: 50%; /* Cela rend l'image ronde */
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: -70px;
}


.testimonial .etoiles {
    width: 100px; 
    height: auto; 
    max-width: 100%; 
    margin-bottom: 10px;
}
    


.avistitlte{
    color: #62891F;
    margin-bottom: 5px;
    margin-top: -5px;
    font-weight: 600;
}



.testimonial p {
    font-size: 13px;
    margin-bottom: 15px;
    color: #62891F;
    font-weight: 200;
}









.part1{
    color: #8BC34A;
    font-size: 36px;
    margin-bottom: 0px;
    font-weight: bold;
}
.part2{
    color: #689F38;
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: bold;
}



.diet-section:nth-child(even) .diet-content {
    order: 2;
}

.diet-content {
    width: 50%;
    padding: 20px;
}



.diet-title {
    color: #689F38;
    font-size: 20px;
    font-weight: 550;
    margin-bottom: 60px;
    background-color: #DCEDC8;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;

}



.diet-content p {
    font-size: 15px;
    line-height: 1.6;
    color: #707070;
    margin: 0 auto;
}

.diet-content .learn-more {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    color: #6fb365;
    text-decoration: none;
}

.diet-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.diet-image {
    flex: 1;
}

.diet-content {
    flex: 2;
}

.vegan-section {
    flex-direction: row-reverse; 
}

.diet-image1 img {
    width: 400px; 
    height: auto;
    margin-left: 85px;
}

.diet-image2 img {
    width: 400px; 
    height: auto;
    margin-right: 85px;
    margin-bottom: 80px;
}

.diet-content {
    padding: 20px;
}

.learnmore {
    color: #689F38;
    text-decoration: underline;
    margin-top: 10px;
    font-weight: 600;

    
}

.textreg{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    background-color: #F2F2F2;
    border: 2px solid #62891F;
    border-radius: 60px;
    padding: 30px 30px;

    
}

.quizsection{

    align-items: center;
    text-align: center;
    padding: 40px;
    background-color: #F2F2F2;
    border: 3px solid #62891F;
    border-radius: 60px;
    margin-top: 20px;
    color: #689F38;
    font-weight: bold;
    font-size: 20px;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 20px;
    margin-bottom: 150px;
}

.quiztitle{
    align-items: center;
    text-align: center;
    color:#62891F;
    font-weight: bolder;
}

.startbtn{
    padding: 5px 35px;
    background-color: #8BC34A;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    font-size: 18px;
}

.conditions-generales-container {
    color: #707070;
    font-size: 20px;
    margin-left:150px;
    margin-right: 150px;
  }
  
  .conditions-generales-container h1 {
    color: #707070
  }
  
  .conditions-generales-container p,
  .conditions-generales-container ul,
  .conditions-generales-container li {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .conditions-generales-container ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .conditions-generales-container li {
    margin-bottom: 20px;
  }
  
.conditions-generales-container h5{
    color:#62891F;
  }

.title-underline{
    border: 0;
    border-top: 2px solid #62891F;
    margin: 10px 0 20px;
}

.mentions-legales-container {
    color: #707070;
    font-size: 20px;
    margin-left:150px;
    margin-right: 150px;
  }
  
  .mentions-legales-container h1 {
    color: #707070;
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  
  .mentions-legales-container p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  .mentions-legales-container a {
    color: #707070; 
    text-decoration: none;
  }

  
  